{% extends 'base.html.twig' %}

{% block title %}Hello CRUDController!{% endblock %}

{% block body %}
<form method="POST" action="{{ path('create_crud') }}">
    <input name="last_name" type="text">
    <input name="first_name" type="text">
    <input name="age" type="number">
    <input name="Status" type="text">
    <input name="email" type="text">
    <input name="telegram" type="text">
    <input name="address" type="text">
    <input name="sumbit" type="submit">
    <select name ="department">
    {% for department in departments %}
        <option value = "{{department.id}}"> {{department.name}} </option> 
    {% endfor %}
    </select>
</form>

{% endblock %}

